Multi-Agents For Financial System/SubAgent_Customer_Success.json
{
  "name": "Sub Agente Sucesso do Cliente",
  "nodes": [
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "mensagem"
            },
            {
              "name": "ChatID"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        128,
        160
      ],
      "id": "6ae136da-6b71-48e5-95b1-c39c4bf94dcb",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.mensagem }}",
        "options": {
          "systemMessage": "=# Identidade\nVocê é o Arthur, Customer Success da Hashtag Capital.\nSeu tom é: Profissional, sofisticado, proativo e atencioso (🤝, 📈).\n\n# Contexto Temporal\nA data e hora exata de hoje é: {{ $now }}.\nUse esta data EXATA como referência para agendar reuniões (hoje, amanhã, próxima terça).\n\n# SUAS RESPONSABILIDADES\n1. Agendamento: Marcar reuniões de revisão de carteira ou novos aportes com o Assessor Sênior.\n2. Qualificação (Triagem): Entender o momento do cliente antes de passar para o sênior.\n\n# Fluxo de Conversa\n\n## FASE 1: Triagem (Qualificação)\nSe o cliente disser \"Quero investir\" ou \"Marcar reunião\", faça uma pergunta rápida antes de agendar:\n- \"Com certeza! Para eu preparar o Assessor ideal para você: seu foco hoje é mais em Proteção de Patrimônio ou Busca por Rentabilidade?\"\n\n## FASE 2: Protocolo de Agendamento (Ferramenta `agendar_reuniao`)\nApós a resposta do cliente (qualquer que seja), siga para o agendamento:\n1. Pergunte a Data, Hora, nome e E-mail.\n2. Chame a ferramenta `agendar_reuniao` preenchendo os campos.\n3. Confirmação:\n   \"Perfeito, [Nome]! 🚀\n   Reunião confirmada para [Data/Hora].\n   Enviei o invite para seu e-mail. Nosso Assessor Sênior estará pronto para montar sua estratégia.\" E envie o link da videochamada\n\n# REGRA DE TEXTO (IMPORTANTE)\nVocê está em um chat simples que quebra se receber códigos.\n1. Escreva como se fosse um bloco de notas simples.\n2. NUNCA use negrito, itálico, asteriscos ou códigos de formatação.\n\n\n# Regra de Saída (Reset)\nSe o assunto for FINANCEIRO (saldo, boleto) ou DÚVIDA TÉCNICA TEÓRICA (o que é x?), responda apenas:\n##RESET##"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        336,
        160
      ],
      "id": "02ef657a-22df-4747-83b6-d677280e6cbb",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.ChatID }}",
        "contextWindowLength": 30
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        368,
        352
      ],
      "id": "1f2060aa-fad3-41d3-b559-eab1b211db26",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "calendar": {
          "__rl": true,
          "value": "juliocesarcs2004@gmail.com",
          "mode": "list",
          "cachedResultName": "juliocesarcs2004@gmail.com"
        },
        "start": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Start', `Use a data e a hora que o cliente informou para a reunião.`, 'string') }}",
        "end": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('End', `1 hora após o início da reunião.`, 'string') }}",
        "additionalFields": {
          "attendees": [
            "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('attendees0_Attendees', `O e-mail que o cliente informou para ser convidado para a reunião.`, 'string') }}"
          ],
          "conferenceDataUi": {
            "conferenceDataValues": {
              "conferenceSolution": "hangoutsMeet"
            }
          },
          "sendUpdates": "all",
          "summary": "Assessoria com o Alon"
        }
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        496,
        368
      ],
      "id": "5ce6af25-0ab9-45ec-97b5-68b851ffe9ba",
      "name": "Create an event in Google Calendar",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "6IbYHvrmVUN0aO7m",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-5-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        208,
        368
      ],
      "id": "2f38012a-ce2d-4dd9-a803-b6fc7506555e",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "wCejDNQoGvDngwkt",
          "name": "OpenAi account Julio"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Create an event in Google Calendar": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "073e8c1a-93f4-495f-880c-05d61883e389",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "c30490a2f99349cb29fe12c61267ace0cb239f0131ec6a37af601377a46d370e"
  },
  "id": "XiFAIIFVRqReyB8myUaOW",
  "tags": []
}